{% extends 'store/main.html' %}
{% load static %}

{%block content%}   
<div class="row">
    {%if searched%}
        you searched for "{{searched}}"
    {%endif%}
    {%for product in products%}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add To Cart</button>
                <a class="btn btn-outline-success" href="{% url 'product-detail' product.id %}">View</a>
                <h4 style="display: inline-block;float: right">{{product.price|floatformat:2}}</h4>
            </div>
        </div>
    {% endfor %}
{%endblock content%}