{% extends 'layout/app.html'%}

{% block content%}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Login</h2>
        <form method ="POST" action="{%url 'login'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.username.id_for_label}}">Username:</label>
                <input type="text" name="{{form.username.name}}" class="form-control" value="{{form.username.value}}" />
                <span class="text-danger"> {{form.username.errors}}</span>
            </div>
            <div class="form-group">
                <label for="{{form.password.id_for_label}}">Password:</label>
                <input type="password" name="{{form.password.name}}" class="form-control" value="{{form.password.value}}" />
                <span class="text-danger"> {{form.password.errors}}</span>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
            <a href="{% url 'register'%}" class="btn btn-default">register</a>
        </form>
    </div>
</div>

{%endblock%}