{% extends 'layout/app.html'%}

{% block content%}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Register</h2>
        <form method ="POST" action="{%url 'register'%}">
            {%csrf_token%}
            <div class="form-group">
                <label for="{{form.username.id_for_label}}">Username:</label>
                <input type="text" name="{{form.username.name}}" class="form-control" value="{{form.username.value}}" />
                <span class="text-danger"> {{form.username.errors}}</span>
            </div>
            <div class="form-group">
                <label for="{{form.email.id_for_label}}">Email:</label>
                <input type="text" name="{{form.email.name}}" class="form-control" value="{{form.email.value}}" />
                <span class="text-danger"> {{form.email.errors}}</span>
            </div>
            <div class="form-group">
                <label for="{{form.password1.id_for_label}}">Password:</label>
                <input type="password" name="{{form.password1.name}}" class="form-control" value="{{form.password1.value}}" />
                <span class="text-danger"> {{form.password1.errors}}</span>
            </div>
            <div class="form-group">
                <label for="{{form.password2.id_for_label}}">Confirm Password:</label>
                <input type="password" name="{{form.password2.name}}" class="form-control" value="{{form.password2.value}}" />
                <span class="text-danger"> {{form.password2.errors}}</span>
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>

            <a href="{% url 'login'%}" class="btn btn-default">login</a>
        </form>

    </div>
</div>

{%endblock%}